# ----- Haskell -----
[language-server.haskell-language-server.config.haskell.plugin]
hlint.globalOn = false # https://github.com/haskell/haskell-language-server/issues/4674

[[language]]
name = "haskell"
auto-format = true
language-servers = ["haskell-language-server"]


# ----- Ruby -----
[language-server.sorbet]
command = "srb"
args = ["tc", "--lsp"]

[language-server.ruby-lsp]
command = "ruby-lsp"
args = []

[language-server.rubocop]
command = "bundle"
args = ["exec", "rubocop", "--lsp"]

[[language]]
name = "ruby"
language-servers = ["sorbet", "rubocop"]
auto-format = true


# ----- Toml -----
[[language]]
name = "toml"
auto-format = true


# ----- Rust -----
[language-server.rust-analyzer.config]
check.command = "clippy"
experimental = { testExplorer = true }


# ----- Python -----
[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ruff.config.settings.lint]
select = ["E", "F", "I"] # Enable pycodestyle, pyflakes, and isort rules
preview = false

[[language]]
name = "python"
language-servers = ["ruff", "pylsp"]
auto-format = true

[language-server.pylsp.config.pylsp]
plugins.pyls_mypy.enabled = true
plugins.pyls_mypy.live_mode = true
# Handled by Ruff
plugins.flake8.enabled = false
plugins.pycodestyle.enabled = false
plugins.pyflakes.enabled = false
plugins.black.enabled = false
plugins.autopep8.enabled = false
plugins.yapf.enabled = false


# ----- TypeScript + JavaScript -----
[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "javascript"
language-servers = ["typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "javascript"] }

[[language]]
name = "tsx"
language-servers = ["typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "jsx"
language-servers = ["typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "javascript"] }

# ----- Json -----
[[language]]
name = "json"
language-servers = ["vscode-json-language-server"]

# ----- SQL -----
[[language]]
name = "sql"
formatter = { command = "pg_format", args = ["-i"] }
auto-format = true


# ----- Go -----
[[language]]
name = "go"
language-servers = ["gopls", "golangci-lint-lsp"]
auto-format = true

[language-server.golangci-lint-lsp.config]
command = [
  "golangci-lint",
  "run",
  "--out-format",
  "json",
  "--issues-exit-code=1",
]

# ----- Nix -----
[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixfmt" }

# ----- Terraform -----
[[language]]
name = "hcl"
auto-format = true
formatter = { command = "terraform", args = ["fmt", "-"] }


# ----- Scheme -----
[[language]]
name = "scheme"
formatter = { command = "raco", args = ["fmt", "-i"] }
auto-format = true
language-servers = ["steel-language-server"]

[language-server.steel-language-server]
command = "steel-language-server"
args = []


# ----- Snyk language server -----
[language-server.snyk-ls]
command = "snyk"
args = ["language-server"]

[language-server.snyk-ls.config]
automaticAuthentication = "false"
cliPath = "/opt/homebrew/bin/snyk"
trustedFolders = ["~/Development"]
